In [2]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
# matplotlib.use('Agg')
import datetime

%matplotlib inline
from finrl.meta.preprocessor.yahoodownloader import YahooDownloader
from finrl.meta.preprocessor.preprocessors import FeatureEngineer, data_split
from finrl.meta.env_stock_trading.env_stocktrading import StockTradingEnv
from finrl.agents.stablebaselines3.models import DRLAgent
from stable_baselines3.common.logger import configure
from finrl.meta.data_processor import DataProcessor

from finrl.plot import backtest_stats, backtest_plot, get_daily_return, get_baseline
from pprint import pprint

import sys
# sys.path.append("../FinRL")

import itertools

print(sys.executable)

ModuleNotFoundError: No module named 'finrl'

## Get Config and Data

In [2]:
from finrl import config
from finrl import config_tickers
import os
from finrl.main import check_and_make_directories
from finrl.config import (
    DATA_SAVE_DIR,
    TRAINED_MODEL_DIR,
    TENSORBOARD_LOG_DIR,
    RESULTS_DIR,
    INDICATORS,
)
check_and_make_directories([DATA_SAVE_DIR, TRAINED_MODEL_DIR, TENSORBOARD_LOG_DIR, RESULTS_DIR])

In [3]:
TRAIN_START_DATE = '2009-01-01'
TRAIN_END_DATE = '2020-07-01'
TRADE_START_DATE = '2020-07-01'
TRADE_END_DATE = '2021-10-31'
TEST_START_DATE = "2020-08-01"
TEST_END_DATE = "2021-10-01"

In [4]:
df = YahooDownloader(start_date = TRAIN_START_DATE,
                     end_date = TRADE_END_DATE,
                     ticker_list = config_tickers.DOW_30_TICKER).fetch_data()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Shape of DataFrame:  (94331, 8)

In [6]:
print(config_tickers.DOW_30_TICKER)

['AXP', 'AMGN', 'AAPL', 'BA', 'CAT', 'CSCO', 'CVX', 'GS', 'HD', 'HON', 'IBM', 'INTC', 'JNJ', 'KO', 'JPM', 'MCD', 'MMM', 'MRK', 'MSFT', 'NKE', 'PG', 'TRV', 'UNH', 'CRM', 'VZ', 'V', 'WBA', 'WMT', 'DIS', 'DOW']

In [7]:
df.sort_values(['date','tic'],ignore_index=True).head()

Price,date,close,high,low,open,volume,tic,day
0,2009-01-02,2.730994,3.251429,3.041429,3.067143,746015200,AAPL,4
1,2009-01-02,41.151932,59.080002,57.750000,58.590000,6547900,AMGN,4
2,2009-01-02,14.929292,19.520000,18.400000,18.570000,10955700,AXP,4
3,2009-01-02,33.941086,45.560001,42.779999,42.799999,7010200,BA,4
4,2009-01-02,30.490791,46.980000,44.709999,44.910000,7117200,CAT,4

In [8]:
fe = FeatureEngineer(
                    use_technical_indicator=True,
                    tech_indicator_list = INDICATORS,
                    use_vix=True,
                    use_turbulence=True,
                    user_defined_feature = False)

processed = fe.preprocess_data(df)
processed.head()

Successfully added technical indicators

[*********************100%***********************]  1 of 1 completed

Shape of DataFrame:  (3229, 8)
Successfully added vix
Successfully added turbulence index

,date,close,high,low,open,volume,tic,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,vix,turbulence
0,2009-01-02,2.730994,3.251429,3.041429,3.067143,746015200,AAPL,4,0.0,2.951623,2.625623,100.0,66.666667,100.0,2.730994,2.730994,39.189999,0.0
1,2009-01-02,41.151932,59.080002,57.750000,58.590000,6547900,AMGN,4,0.0,2.951623,2.625623,100.0,66.666667,100.0,41.151932,41.151932,39.189999,0.0
2,2009-01-02,14.929292,19.520000,18.400000,18.570000,10955700,AXP,4,0.0,2.951623,2.625623,100.0,66.666667,100.0,14.929292,14.929292,39.189999,0.0
3,2009-01-02,33.941086,45.560001,42.779999,42.799999,7010200,BA,4,0.0,2.951623,2.625623,100.0,66.666667,100.0,33.941086,33.941086,39.189999,0.0
4,2009-01-02,30.490791,46.980000,44.709999,44.910000,7117200,CAT,4,0.0,2.951623,2.625623,100.0,66.666667,100.0,30.490791,30.490791,39.189999,0.0

In [1]:
import torch

cuda_available = torch.cuda.is_available()
print(f"CUDA is available: {cuda_available}")

CUDA is available: False