In [5]:
%load_ext autoreload
%autoreload 2

In [6]:
import numpy as np
import pandas as pd

In [7]:
from agent.scalable_model import Scalable
from tics.tic_config import tics_176
from agent.data_downloader import short_name_sha256

In [8]:
tics = np.unique(tics_176).tolist()
train_start_date = '2009-01-01'
train_end_date = '2020-07-01'

In [9]:
model = Scalable(None, None)

In [10]:
model.train(tics, train_start_date, train_end_date)

In [11]:
[len(lst) for lst in model.tics_lst]

[31, 25, 35, 35, 25, 25]

In [12]:
model.tics_lst[4]

['AAPL',
 'ADBE',
 'AMGN',
 'AMZN',
 'ASML',
 'CDNS',
 'COST',
 'CRM',
 'GOOGL',
 'HD',
 'IDXX',
 'INTU',
 'JNJ',
 'LULU',
 'MSFT',
 'NVDA',
 'ORLY',
 'PEP',
 'SBUX',
 'SNPS',
 'TXN',
 'V',
 'VRSN',
 'VZ',
 'XEL']

In [17]:
model.data

,date,close,high,low,open,volume,tic,day
0,2009-01-02,7.909601,8.480000,7.670000,7.730000,5167000,AAL,4
1,2009-01-02,2.730994,3.251429,3.041429,3.067143,746015200,AAPL,4
2,2009-01-02,23.020000,23.100000,21.070000,21.110001,6670700,ADBE,4
3,2009-01-02,13.315101,19.780001,18.760000,19.000000,3264900,ADI,4
4,2009-01-02,23.842716,35.548725,34.205444,34.784901,4021809,ADP,4
...,...,...,...,...,...,...,...,...
509163,2020-06-30,32.880192,42.580002,41.759998,42.119999,4782100,WBA,1
509164,2020-06-30,33.371124,33.492062,32.365833,32.668179,9161510,WDC,1
509165,2020-06-30,37.267578,40.043331,39.513332,39.740002,20509200,WMT,1
509166,2020-06-30,72.906219,74.860001,72.120003,73.570000,4590400,WYNN,1
509167,2020-06-30,53.915081,63.169998,62.250000,62.660000,4116800,XEL,1

In [13]:
for lst in model.tics_lst:
    df = model.data.copy()
    df[df['tic'].isin(lst)].to_csv(f"data/sub/{short_name_sha256('_'.join(lst))}_{train_start_date}_{train_end_date}.csv", index=False)

KeyboardInterrupt:

In [ ]:
df[df['tic'].isin(model.tics_lst[0])]

(31,)

In [ ]:
model.data.head()

,date,close,high,low,open,volume,tic,day
0,2009-01-02,7.909601,8.480000,7.670000,7.730000,5167000,AAL,4
1,2009-01-02,2.730994,3.251429,3.041429,3.067143,746015200,AAPL,4
2,2009-01-02,23.020000,23.100000,21.070000,21.110001,6670700,ADBE,4
3,2009-01-02,13.315101,19.780001,18.760000,19.000000,3264900,ADI,4
4,2009-01-02,23.842716,35.548725,34.205444,34.784901,4021809,ADP,4