In [5]:
%load_ext autoreload
%autoreload 2

In [6]:
import numpy as np
import pandas as pd

In [7]:
from agent.scalable_model import Scalable
from tics.tic_config import tics_176
from agent.data_downloader import short_name_sha256

In [8]:
tics = np.unique(tics_176).tolist()
train_start_date = '2009-01-01'
train_end_date = '2020-07-01'

In [9]:
model = Scalable(None, None)

In [10]:
model.train(tics, train_start_date, train_end_date)

In [11]:
[len(lst) for lst in model.tics_lst]

[31, 25, 35, 35, 25, 25]

In [23]:
model.data[model.data['tic'].isin(model.tics_lst[4])][model.data['date'] == '2009-01-02']

/tmp/ipykernel_1559843/3754132062.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  model.data[model.data['tic'].isin(model.tics_lst[4])][model.data['date'] == '2009-01-02']

,date,close,high,low,open,volume,tic,day
1,2009-01-02,2.730994,3.251429,3.041429,3.067143,746015200,AAPL,4
2,2009-01-02,23.020000,23.100000,21.070000,21.110001,6670700,ADBE,4
13,2009-01-02,41.151951,59.080002,57.750000,58.590000,6547900,AMGN,4
14,2009-01-02,2.718000,2.726500,2.553500,2.567500,145928000,AMZN,4
15,2009-01-02,12.476160,18.280001,17.510000,17.700001,2624500,ASML,4
30,2009-01-02,3.840000,3.900000,3.530000,3.630000,4465300,CDNS,4
36,2009-01-02,37.431007,53.500000,52.049999,52.439999,3687200,COST,4
39,2009-01-02,8.444491,8.550000,7.912500,8.025000,4069200,CRM,4
72,2009-01-02,8.002780,8.053554,7.645145,7.722723,144275580,GOOGL,4
75,2009-01-02,16.148617,24.190001,22.959999,23.070000,14902500,HD,4
85,2009-01-02,18.295000,18.379999,17.620001,18.120001,771200,IDXX,4
91,2009-01-02,21.604635,24.510000,23.639999,23.790001,2256600,INTU,4
94,2009-01-02,37.491467,61.000000,59.040001,60.130001,11638900,JNJ,4
103,2009-01-02,3.895000,4.045000,3.750000,3.975000,588200,LULU,4
114,2009-01-02,14.924774,20.400000,19.370001,19.530001,50084000,MSFT,4
124,2009-01-02,0.199677,0.219250,0.201000,0.201750,497124000,NVDA,4
126,2009-01-02,31.430000,31.580000,30.139999,30.590000,1361600,ORLY,4
130,2009-01-02,34.637203,56.139999,54.720001,54.930000,5182400,PEP,4
141,2009-01-02,3.751516,4.930000,4.665000,4.705000,14885400,SBUX,4
145,2009-01-02,18.930000,18.980000,18.170000,18.309999,890400,SNPS,4
161,2009-01-02,10.493223,16.170000,15.400000,15.500000,15194500,TXN,4
166,2009-01-02,11.896489,13.427500,13.060000,13.230000,13199200,V,4
168,2009-01-02,17.509497,20.700001,19.000000,19.190001,3222500,VRSN,4
170,2009-01-02,13.932552,32.601021,31.466175,32.000774,14848985,VZ,4
175,2009-01-02,10.602478,18.950001,18.490000,18.590000,2018300,XEL,4

In [26]:
model.tics_lst

[['ALNY',
  'AMD',
  'BA',
  'BIDU',
  'CAT',
  'CVLT',
  'CVX',
  'ERIC',
  'EXPE',
  'GEO',
  'GS',
  'HAS',
  'HEES',
  'IBM',
  'IDCC',
  'IMBBY',
  'JPM',
  'LBTYK',
  'MAR',
  'MRCY',
  'MSTR',
  'MU',
  'NTAP',
  'TCOM',
  'TDS',
  'TKO',
  'TMUS',
  'UAL',
  'USM',
  'WBA',
  'WDC'],
 ['AEM',
  'AGI',
  'AU',
  'BRPHF',
  'CNK',
  'CORT',
  'CPRX',
  'DRS',
  'EXEL',
  'FMCC',
  'FNMA',
  'FNMAS',
  'FNMAT',
  'GGAL',
  'HMY',
  'IAG',
  'INSM',
  'KGC',
  'LRN',
  'NFLX',
  'NGD',
  'NTDOY',
  'SAFS',
  'SSRM',
  'THLLY'],
 ['ADI',
  'ADP',
  'BKNG',
  'CHKP',
  'CMCSA',
  'CSX',
  'CTAS',
  'DIS',
  'DLTR',
  'EBAY',
  'FAST',
  'FICO',
  'HON',
  'INTC',
  'ISRG',
  'JBHT',
  'KLAC',
  'KO',
  'LRCX',
  'MCD',
  'MDLZ',
  'MELI',
  'MNST',
  'MRK',
  'NKE',
  'NTES',
  'PG',
  'REGN',
  'ROST',
  'SAP',
  'T',
  'TPL',
  'TTWO',
  'UNH',
  'WMT'],
 ['ADSK',
  'AGX',
  'ALGN',
  'AMAT',
  'AXON',
  'AXP',
  'BIIB',
  'BMRN',
  'CALM',
  'CSCO',
  'CTSH',
  'EA',
  'ESLT',
  'EXLS',
  'FFIV',
  'GILD',
  'HSIC',
  'HWKN',
  'ILMN',
  'INCY',
  'MCHP',
  'MMM',
  'OSIS',
  'PAYX',
  'PCAR',
  'PM',
  'PRMB',
  'QCOM',
  'SIRI',
  'SNEX',
  'SWKS',
  'SYBT',
  'TRV',
  'ULTA',
  'VRTX'],
 ['AAPL',
  'ADBE',
  'AMGN',
  'AMZN',
  'ASML',
  'CDNS',
  'COST',
  'CRM',
  'GOOGL',
  'HD',
  'IDXX',
  'INTU',
  'JNJ',
  'LULU',
  'MSFT',
  'NVDA',
  'ORLY',
  'PEP',
  'SBUX',
  'SNPS',
  'TXN',
  'V',
  'VRSN',
  'VZ',
  'XEL'],
 ['AAL',
  'ATGE',
  'BBAR',
  'BCS',
  'CLS',
  'CRK',
  'CRS',
  'DB',
  'EAT',
  'ERJ',
  'GLNG',
  'GME',
  'HURN',
  'KTOS',
  'LUMN',
  'MWA',
  'NWG',
  'RCL',
  'RYCEY',
  'SCGLY',
  'STRL',
  'TBBK',
  'TPR',
  'VEON',
  'WYNN']]

In [17]:
model.data

,date,close,high,low,open,volume,tic,day
0,2009-01-02,7.909601,8.480000,7.670000,7.730000,5167000,AAL,4
1,2009-01-02,2.730994,3.251429,3.041429,3.067143,746015200,AAPL,4
2,2009-01-02,23.020000,23.100000,21.070000,21.110001,6670700,ADBE,4
3,2009-01-02,13.315101,19.780001,18.760000,19.000000,3264900,ADI,4
4,2009-01-02,23.842716,35.548725,34.205444,34.784901,4021809,ADP,4
...,...,...,...,...,...,...,...,...
509163,2020-06-30,32.880192,42.580002,41.759998,42.119999,4782100,WBA,1
509164,2020-06-30,33.371124,33.492062,32.365833,32.668179,9161510,WDC,1
509165,2020-06-30,37.267578,40.043331,39.513332,39.740002,20509200,WMT,1
509166,2020-06-30,72.906219,74.860001,72.120003,73.570000,4590400,WYNN,1
509167,2020-06-30,53.915081,63.169998,62.250000,62.660000,4116800,XEL,1

In [13]:
for lst in model.tics_lst:
    df = model.data.copy()
    df[df['tic'].isin(lst)].to_csv(f"data/sub/{short_name_sha256('_'.join(lst))}_{train_start_date}_{train_end_date}.csv", index=False)

KeyboardInterrupt:

In [ ]:
df[df['tic'].isin(model.tics_lst[0])]

(31,)

In [ ]:
model.data.head()

,date,close,high,low,open,volume,tic,day
0,2009-01-02,7.909601,8.480000,7.670000,7.730000,5167000,AAL,4
1,2009-01-02,2.730994,3.251429,3.041429,3.067143,746015200,AAPL,4
2,2009-01-02,23.020000,23.100000,21.070000,21.110001,6670700,ADBE,4
3,2009-01-02,13.315101,19.780001,18.760000,19.000000,3264900,ADI,4
4,2009-01-02,23.842716,35.548725,34.205444,34.784901,4021809,ADP,4