In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
import numpy as np
import pandas as pd
from pathlib import Path

In [ ]:
import sys
sys.path.append("/dsmlp/home-fs04/19/019/riling/scalable_rl_portfolio_management")

In [ ]:
from tics.tic_config import tics_176, tics_grouped
from agent.data_downloader import short_name_sha256

In [47]:
train_start_date= '2009-01-01'
train_end_date= '2020-07-01'
# test_start_date= '2020-07-01'
test_start_date = '2021-07-01'
test_end_date= '2024-10-01'

In [48]:
start = test_start_date
end = test_end_date

In [78]:
df = pd.read_csv(Path('backtest') / '21-24' / 'manager.csv')

df = df.set_index('Unnamed: 0')
df.index = df.index.str.title()

df = df.dropna()

df = df.round(3).applymap(lambda x: f"{x:.3f}")

df.index.name = None

# Rename columns
df = df.rename(columns={
    '0_model': 'Manager',
    '0_baseline': 'Dow Jones'
})

df = df.T[['Annual Return', 'Cumulative Returns', 'Annual Volatility', 'Sharpe Ratio', 'Stability', 'Max Drawdown']]

df

,Annual Return,Cumulative Returns,Annual Volatility,Sharpe Ratio,Stability,Max Drawdown
Manager,0.134,0.468,0.146,0.936,0.714,-0.177
Dow Jones,0.066,0.215,0.148,0.509,0.407,-0.219

In [ ]:
# df.to_csv('Manger_results.csv')

In [82]:
df = pd.read_csv(Path('backtest') / '21-24' / 'manager.csv')

df = df.set_index('Unnamed: 0')
df.index = df.index.str.title()

dfs = []
tics = []
for i in range(6):
    dfs.append(pd.read_csv(Path('backtest') / '21-24' / f'backtest_group{i}.csv'))

df_all = pd.DataFrame({
    'Annual Return': [df['0_model'][0] for df in dfs] + df.loc['Annual Return'].tolist(),
    'Sharpe Ratio': [df['0_model'][3] for df in dfs] + df.loc['Sharpe Ratio'].tolist(),
}, index=['Group 1', 'Group 2', 'Group 3', 'Group 4', 'Group 5', 'Group 6'] + ['Manager', 'Dow Jones'])

df_all = df_all.round(3).applymap(lambda x: f"{x:.3f}")

df_all.T

,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Manager,Dow Jones
Annual Return,0.151,0.288,0.120,0.090,0.103,0.268,0.134,0.066
Sharpe Ratio,0.829,1.226,0.791,0.608,0.597,1.043,0.936,0.509

In [83]:
df_all.T.to_csv('All_results.csv')