In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from model.split import *
from tic_config import *

In [3]:
from finrl.meta.preprocessor.yahoodownloader import YahooDownloader
from finrl.config_tickers import NAS_100_TICKER, SP_500_TICKER

TOP_BRL = [
    "VALE3.SA", "PETR4.SA", "ITUB4.SA", "BBDC4.SA",
    "BBAS3.SA", "RENT3.SA", "LREN3.SA", "PRIO3.SA",
    "WEGE3.SA", "ABEV3.SA"
]

start_date = '2024-01-01'
end_date = '2024-12-31'

In [4]:
# tics = tics_52_week_gainers + tics_52_week_losers  + tics_top_gainers + tics_top_losers
tics = tics_52_week_gainers_25 + tics_52_week_losers_25
# tics = tics_top_gainers + tics_top_losers

In [5]:
df = YahooDownloader(start_date = start_date,
                                end_date = end_date,
                                ticker_list = tics).fetch_data()
df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Shape of DataFrame:  (12427, 8)

Price,date,close,high,low,open,volume,tic,day
0,2024-01-02,78.260002,78.940002,76.959999,76.970001,452100,ACHC,1
1,2024-01-02,4.550000,4.690000,4.450000,4.500000,2620700,ADMA,1
2,2024-01-02,14899.981445,14900.000000,14900.000000,14900.000000,0,AEXAY,1
3,2024-01-02,8.490000,8.770000,8.430000,8.560000,401900,ALHC,1
4,2024-01-02,61.270000,61.669998,59.200001,59.889999,997700,APLS,1

In [6]:
df_market = get_market_df(start_date, end_date)
df_market.head()

[*********************100%***********************]  1 of 1 completed

Shape of DataFrame:  (251, 8)

Price,date,close,high,low,open,volume,tic,day
0,2024-01-02,4742.830078,4754.330078,4722.669922,4745.200195,3743050000,^GSPC,1
1,2024-01-03,4704.810059,4729.290039,4699.709961,4725.069824,3950760000,^GSPC,2
2,2024-01-04,4688.680176,4726.779785,4687.529785,4697.419922,3715480000,^GSPC,3
3,2024-01-05,4697.240234,4721.490234,4682.109863,4690.569824,3844370000,^GSPC,4
4,2024-01-08,4763.540039,4764.540039,4699.819824,4703.700195,3742320000,^GSPC,0

In [7]:
df_rf = get_rf_rate(start_date, end_date, tic="^IRX")
df_rf.head()

[*********************100%***********************]  1 of 1 completed

Shape of DataFrame:  (251, 8)

Price        date  rf_rate
0      2024-01-02  0.05213
1      2024-01-03  0.05235
2      2024-01-04  0.05228
3      2024-01-05  0.05220
4      2024-01-08  0.05220

In [8]:
X = construct_stock_features(df, df_market, df_rf)
print(X.shape)
X.head()

(50, 7)

/dsmlp/home-fs04/19/019/riling/scalable_rl_portfolio_management/riling/model/split.py:68: RuntimeWarning: divide by zero encountered in scalar divide
  sharpe = np.mean(excess) / np.std(stock_ret, ddof=1) * np.sqrt(252)

,alpha,beta,avg_return,volatility,sharpe,max_drawdown,avg_volume
tic,,,,,,,
ACHC,-0.002976,0.593269,-0.613775,0.435763,-1.522243,-0.575532,1079206.400
ADMA,0.004624,1.727483,1.561415,0.657334,2.299978,-0.246139,3536571.600
AEXAY,-0.009252,2.101524,-1.849432,2.259909,-0.840296,-0.991667,3.188
ALHC,0.001418,0.707514,0.519584,0.707565,0.664281,-0.503333,1187967.600
APLS,-0.003153,1.246910,-0.508454,0.546813,-1.020488,-0.638747,1998526.800

In [13]:
cluster_tic(X, 25)

/dsmlp/home-fs04/19/019/riling/.conda/envs/ai4finance/lib/python3.8/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

[['ADMA',
  'APP',
  'ASTS',
  'CORT',
  'CVNA',
  'EAT',
  'FMCC',
  'FNMA',
  'HOOD',
  'IONQ',
  'KC',
  'LB',
  'MSTR',
  'PLTR',
  'RGTI',
  'RKLB',
  'RLLVF',
  'SMCI',
  'SMMT',
  'TGTX',
  'UI',
  'VKTX',
  'VRNA',
  'WGS',
  'XIACF'],
 ['ACHC',
  'AEXAY',
  'ALHC',
  'APLS',
  'ATKR',
  'CE',
  'CIVI',
  'CLF',
  'CODQL',
  'COTY',
  'DV',
  'EL',
  'ELF',
  'ENPH',
  'FRGE',
  'HOPHF',
  'MRNA',
  'OLN',
  'QXO',
  'RIG',
  'SAFS',
  'STLA',
  'TNXP',
  'WFRD',
  'XNYIF']]